.communityTalksList__border {
  margin: 0 18px;
}
.communityTalksListItem {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
}

.communityTalksListItem__noBorder {
  margin-left: 11px;
}

.communityTalksListItem__border {
  border: 0.5px solid #d9d9d9;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 9px;
  margin-top: 5.5px;
  margin-bottom: 5.5px;
}

.communityTalksListItem__row1 {
  display: flex;
  justify-content: space-between;
  border-left: 2px solid #1265b1;
  padding-left: 4px;
  margin-top: 6px;
}

.communityTalksListItem__row1_flexRow {
  flex-direction: row;
  align-items: end;
}

.communityTalksListItem__row1_flexCol {
  flex-direction: column;
}

.communityTalksListItem__name {
  font-size: 14.5px;
  line-height: 14px;
  color: #616161;
}

.communityTalksListItem__dateTime {
  font-size: 9.5px;
  line-height: 9px;
  margin-top: 2px;
}

.communityTalksListItem button {
  font-size: 11px;
  line-height: 11px;

  color: #ffffff;
  background: #1265b1;
  border-radius: 5px;
  padding: 5px 3.5px;
  border: 0;
}

.communityTalksListItem__dateTime button:focus-visible {
  outline: 0;
}

.communityTalksListItem__row2 {
  font-size: 9.5px;
  line-height: 10px;
  margin: 10px 0;
}

@media screen and (min-width: 1000px) {
  .communityTalksListItem__border {
    border: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

    margin-top: 12px;
    margin-bottom: 12px;
  }

  .communityTalksListItem__name {
    font-weight: 700;
    font-size: 18.9474px;
    line-height: 24px;
    color: #000000;
  }

  .communityTalksListItem__dateTime {
    font-weight: 400;
    font-size: 14.2105px;
    line-height: 18px;
  }

  .communityTalksListItem__row1 {
    border-left: 3px solid #000000;
    margin-top: 8px;
  }

  .communityTalksListItem__row2 {
    font-weight: 400;
    font-size: 19.8026px;
    line-height: 25px;
  }

  .communityTalksListItem button {
    display: none;
  }
}
