@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@600&family=Mulish:wght@400;500;600&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;600&display=swap");

.sectionLocationInfo {
  width: 100%;
  height: 240.41px;
  padding: 6.47px 19.4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #ffffff;

  background: url("/images/ro_in_kitchen_image.png") no-repeat;
  background-size: cover;
}

.sectionLocationInfo > div {
  max-width: 225px;
}

.sectionLocationInfo ul {
  list-style-type: none;
  padding: 0;
  font-size: 7px;
  line-height: 9px;
}

.sectionLocationInfo li {
  margin: 10px 0;
}

.sectionLocationInfo ul img {
  border-radius: 100%;
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin-right: 3.45px;
}

/* Promotions section */

.sectionPromotions {
  width: 100%;
  display: flex;
  overflow: auto;
}

.sectionPromotions img {
  width: 258.09px;
  height: 135px;
  border-radius: 1.39175px;
  margin: 5px;
}

/* Appointments section */

.sectionServiceSelection {
  margin: 5px 10px 10px;
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}
.sectionServiceList__title {
  font-size: 13.7px;
  line-height: 13px;
}

.sectionServiceSelection > input,
.sectionServiceSelection__select {
  width: calc(100% - 12px);
}

.sectionServiceSelection input,
.sectionServiceSelection__select {
  height: 33px;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 13.7px;
  line-height: 15px;
  color: #000000;
  padding: 0 14px;
}

.sectionServiceSelection > input,
.sectionServiceSelection__select,
.sectionServiceSelection > button {
  margin: 6px;
}

.sectionServiceSelection input:focus-visible {
  outline: 0;
}

.sectionServiceSelection__phones {
  display: flex;
  width: 100%;
}

.sectionServiceSelection__phones input {
  margin: 6px;
  width: calc(50% - 12px);
}

.sectionServiceSelection button {
  width: 150px;
  height: 33px;
  background: #004c97;
  border-radius: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 13.7px;
  line-height: 16px;
  text-align: center;
  border: 0;

  color: #ffffff;
}

.sectionServiceSelection button:focus-visible {
  outline: 0;
}

.sectionServiceSelection span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 12px;
  margin-bottom: 14px;

  color: #707070;
}

/* Service List section */
.sectionServicesList {
  padding: 20px 7px 0 7px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionServicesList__title {
  margin-bottom: 5px;
}

.sectionServiceList__moreBtn {
  width: 66.23px;
  height: 21px;
  align-self: center;
  background: #123ba3;
  border-radius: 4.92025px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14.7608px;
  line-height: 19px;
  color: #ffffff;
  border: 0;
  padding: 0;
  margin-bottom: 30px;
}

.sectionServiceList__moreBtn:focus-visible {
  outline: 0;
}

/* Why choose us, Safety Measures,
 Trusted Service & Reviews provider,
 Reviews, Awards & Certification section */
.sectionWhyChooseUs,
.sectionSafetyMeasures,
.sectionTrustedServProv,
.sectionAwardsCertification {
  margin: 0 6px;
  width: calc(100% - 12px);
  background: #ffffff;
  box-shadow: 0px 0px 1.77685px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}

.sectionReviews,
.sectionProfessionalsList {
  margin: 0 6px;
  width: calc(100% - 12px);
  background: #ffffff;
  margin-bottom: 25px;
}

.sectionWhyChooseUs___title,
.sectionSafetyMeasures___title,
.sectionTrustedServProv___title,
.sectionReviews__title,
.sectionAwardsCertification__title,
.sectionProfessionalsList__title {
  font-weight: 400;
  font-size: 13.7px;
  line-height: 14px;
  margin-top: 8px;
  margin-left: 9px;
}

.sectionWhyChooseUs hr,
.sectionSafetyMeasures hr,
.sectionTrustedServProv hr,
.sectionReviews hr .sectionAwardsCertification hr {
  margin: 1px 8px;
  border-top: 0.95px solid #d9d9d9;
}

.sectionWhyChooseUs__imagesList,
.sectionSafetyMeasures__imagesList {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  margin-bottom: 15px;
  margin-top: 15px;
}
.sectionAwardsCertification__imagesList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sectionSafetyMeasures__imagesList img {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}

.sectionSafetyMeasures__imagesList > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionSafetyMeasures__imagesList span {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  max-width: 70px;
}

.sectionTrustedServProv__imagesList {
  padding: 16px 7.5px 14px;
}

.sectionTrustedServProv__imagesList img {
  min-width: 104.49px;
  margin: 1.5px;
  width: calc(33% - 2px);
  height: 42.18px;
  padding: 6px;
  object-fit: scale-down;
  border: 0.58px solid #000000;
}

.sectionReviews__reviewsList,
.sectionProfessionalsList__professionalList {
  width: 100%;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  margin-top: 12.8px;
}

.sectionReviews__reviewsListItem {
  display: flex;
  min-width: 132px;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  flex-wrap: wrap;
}

.sectionReviews__custName {
  font-weight: 400;
  font-size: 12.2px;
}

.sectionReviews__reviewsListItem > img {
  width: 64px;
  height: 64px;
}

.sectionReviews__review {
  font-weight: 700;
  font-size: 9.5px;
  text-align: center;
  color: #000000;
  white-space: normal;
  margin-top: 4.71px;
}

.sectionReviews__vr {
  border-right: 0.95px solid #d9d9d9;
}

/* More services section */
.sectionMoreServices {
  margin: 0 19px;
  width: calc(100% - 38px);
  background: #ffffff;
  margin-bottom: 57.2px;
}

.sectionMoreServices__title,
.sectionMoreServices__list span {
  background: #1265b1;
  border: 0.452827px solid #1265b1;
  border-radius: 9.05654px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}

.sectionMoreServices__title {
  font-size: 9.05654px;
  line-height: 11px;
  padding: 4.25px 11px;
  margin-bottom: 12.6px;
}

.sectionMoreServices__list span {
  font-size: 5.88675px;
  line-height: 7px;
  padding: 4.8px 8.5px;
  margin-right: 6px;
  white-space: nowrap;
}

/* More used services section */
.sectionMostUsedServices {
  margin: 0 6px;
  width: calc(100% - 12px);
  background: #ffffff;
  margin-bottom: 40px;
}

.sectionMostUsedServices__title,
.sectionMostUsedServices__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
}

.sectionMostUsedServices__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #025b5d;
}

.sectionMostUsedServices__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 18px;
}

.sectionMostUsedServices__servicesList {
  display: flex;
  overflow: auto;
}

.sectionMostUsedServices__servicesList div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8.8px;
  min-width: 202.88px;
}

.sectionMostUsedServices__servicesList img {
  margin-bottom: 8.7px;
  align-self: start;
}

/* FAQ Section */
.sectionFAQ {
  margin: 0 25.5px 19.5px;
  width: calc(100% - 25.5px);
}

/* Community Talks Section */
.sectionCommunityTalks {
  padding: 0 27px;
  width: 100%;
  margin-bottom: 122px;
}

.sectionCommunityTalks__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14.3px;
  line-height: 16px;
}

/* Quick Links section */
.sectionQuickLinks {
  width: calc(100% - 22px);
  margin: 0 15px 46px 7px;
  font-family: "Roboto";
  font-style: normal;
}

.sectionQuickLinks__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 33.7972px;
  line-height: 40px;
}

.sectionQuickLinks__subtitle {
  margin-top: 13px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.sectionQuickLinks__linksList {
  display: inline;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 168.19%;
  color: #7c7c7c;
}

.sectionQuickLinks__linksList span {
  margin: 0 2px;
}

.sectionQuickLinks__dot {
  font-size: 9px;
}

.sectionQuickLinks__seeMore {
  font-weight: 700;
  font-size: 15px;
  line-height: 168.19%;
  text-decoration-line: underline;
  color: #000000;
}

/* Footer section */

.sectionFooter {
  background: #ededed;
  padding: 23px 30px;
  width: 100%;
}

.sectionFooter__headings {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: #025b5d;
}

.sectionFooter__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180.5%;
  margin-bottom: 40px;
  color: #464646;
}

.sectionFooter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionFooter__socialLinks {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
}

.sectionFooter__socialLinks a {
  margin: 0 12px;
}

.sectionFooter__copyrightInfo {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.08em;
  color: #464646;
}
